*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: League Spartan;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

.header {
  display: flex;
  position: absolute;
  align-items: center;
  top: 4rem;
  left: 4rem;
  z-index: 1000;
  gap: 2rem;
}
@media (max-width: 500px) {
  .header {
    top: 2rem;
    left: 2rem;
  }
}

.navOpen {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 500px) {
  .navOpen {
    display: none;
  }
}

.navClose {
  cursor: pointer;
}
@media (min-width: 500px) {
  .navClose {
    display: none;
  }
}

.nav {
  display: flex;
}
@media (max-width: 500px) {
  .nav {
    position: fixed;
    background-color: white;
    inset: 0 0 90% 0;
    padding: 3rem 0;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    justify-content: space-evenly;
  }
}
.nav__area {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav__items {
  position: relative;
}
.nav__items ::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--White);
  position: absolute;
  bottom: -10%;
  left: 0%;
  border-radius: 4rem;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.nav__items:hover ::after {
  transform: scaleX(1);
}
.nav__links {
  text-decoration: none;
  color: var(--White);
  font-weight: 500;
  text-transform: lowercase;
}
@media (max-width: 500px) {
  .nav__links {
    color: black;
  }
}

.nav.toggleNav {
  transform: translateY(0);
}

.wrapper {
  max-width: 100%;
}

.image__slider {
  width: 100%;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 500px) {
  .image__slider {
    height: 360px;
    overflow: hidden;
  }
}

.images img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

.images img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.buttons {
  position: absolute;
  z-index: 999;
  bottom: 0%;
  right: -21%;
}
@media (max-width: 500px) {
  .buttons {
    right: 0%;
  }
}

.btn {
  background-color: var(--Black);
  cursor: pointer;
  padding: 2rem;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--Dark-Gray);
}

.first {
  display: flex;
}
@media (max-width: 1200px) {
  .first {
    flex-wrap: wrap;
    margin: auto;
  }
}

.second {
  display: flex;
}
@media (max-width: 1200px) {
  .second {
    flex-wrap: wrap;
    margin: auto;
  }
}

.shopNow {
  padding: 6rem;
  max-width: 595px;
}
@media (max-width: 500px) {
  .shopNow {
    padding: 2rem;
  }
}
.shopNow__heading {
  color: var(--Very-Dark-Grey);
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .shopNow__heading {
    font-size: 2rem;
  }
}
.shopNow__para {
  color: var(--Dark-Gray);
  font-weight: 500;
  padding-bottom: 1.5rem;
}
.shopNow__link {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--Very-Dark-Grey);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.shopNow__link:hover {
  color: var(--Dark-Gray);
}
.shopNow__link:hover > icon :hover {
  fill: var(--Dark-Gray);
}

.about__dark__img img,
.about__light__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.about__furniture {
  padding: 4rem;
  max-width: 580px;
}
@media (max-width: 500px) {
  .about__furniture {
    padding: 2rem;
  }
}
.about__furniture__heading {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .about__furniture__heading {
    font-size: 1rem;
  }
}
.about__furniture__para {
  color: var(--Dark-Gray);
  font-weight: 500;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */